body {
    margin: 0 auto;
    font-family: Raleway, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 35px;
}

header a {
  text-decoration: none;
}

li {
  list-style: none;
  margin-right: 30px;
}

.menu-button {
  display: flex;
  align-items: center;  
}

.menu {
  display: flex;    
}

.menu-accommodation {
  color: #0065fc;
}

.menu-activities {
  color: black;
}

.top-search {
  padding: 20px;
}

.text-city, .research-button, .gps {
  height: 40px;
}

.label-input {
  position: relative;
  border-radius: 1rem 0 0 1rem;
  background-color: #f2f2f2;  
}
.gps {
  border-radius: 1rem 0 0 1rem;
  background-color: #f2f2f2;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.text-city {
  font-weight: bold;
  border-left: none;
  border-right: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding-left: 2rem;   
}

.research-button {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1rem;
}

.research-icon {
  display: none;
}

.filter-title {
  display:inline-block
}

button {
  border: 2px solid #d9d9d9;
  background-color: white;
  border-radius: 2rem; 
  font-weight: bold;
  height: 38px;
}

button i {
  width: 38px;
  height: 38px;  
  line-height: 38px;
  background-color: #deebff;
  border-radius: 19px;  
  color: #0065fc;  
}

button span {
  padding: 0 10px;  
}

.filters {
  display: flex;  
}

.button-filter {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem; 
  font-weight: bold;
}


.result {
  display: flex;
  align-items: center;  
}

.i-logo {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #d9d9d9;
  color: #0065fc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/******** Hébergements ********/

#accommodation {
  width: 65vw;  
  border-radius: 20px;
  padding: 30px;
  gap: 30px ;
  background-color: #f2f2f2;
  display: inline-grid;
  /*grid-template-rows: minmax(100px, auto) 100px 100px 30px;
  grid-template-columns: repeat(3, 30%);  */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 210px 210px auto;
  grid-template-areas:
    "titreacco titreacco titreacco"
    "cannebiere port mouettes"
    "mer panier amina"
    "afficherplus afficherplus afficherplus";
}

#accommodation figure {
  height: 100%;
}

#accommodation img {
  border-radius: 20px 20px 0 0;
  height: 60%;
  object-fit: cover;
}

#accommodation figcaption {
  padding: 6px 14px;
}

.acco-title {
  grid-area: titreacco;
}

.cannebiere {
  grid-area: cannebiere;
}

.port {
  grid-area: port;
}

.mouettes {
  grid-area: mouettes;
}

.mer {
  grid-area: mer;
}

.panier {
  grid-area: panier;
}

.amina {
  grid-area: amina;
}

.displaymore {
  grid-area: afficherplus;
}

/******** Populaires ********/
#popular {
  width: 26vw;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 30px;
  gap: 30px ;
  margin-left: 2vw;  
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 150px 150px 150px;
  grid-template-areas: 
    "popular-title"
    "soleil"
    "eau"
    "bleu";
}

.fa-chart-line {
  font-size: 1.5em;  
}

#popular figure {
  height: 100%;
}

#popular img {
  height: 100%;
  width: 40%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

#popular figcaption {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popular-title {
  grid-area: popular-title; 
  display: flex;  
  justify-content: space-between; 
}

.popular-photo {
  display: flex;
  flex-direction: row;
}

.soleil {
  grid-area: soleil;
}

.eau {
  grid-area: eau;
}

.bleu {
  grid-area: bleu;
}

/******** commun  ********/
.acco-card, .popular-card {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 0.3rem;
  box-shadow: 2px 2px 3px rgba(202, 191, 191, 0.589);  
}

.acco-card:hover, .popular-card:hover, .activity-card:hover {
  transform: scale(1.01);
}

#accommodation h3, #popular h3 {
  font-weight: bolder;  
}

#accommodation p, #popular p {
  font-size: 0.9rem;
}

.fa-star {
  color: #0065fc;
  font-size: 0.8rem;
  letter-spacing: -0.1rem;
}

.grey-star {
  color: #f2f2f2;  
}

/******** Activités ********/

#activities {
  display: grid;  
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: auto 250px 250px;
  grid-template-areas: 
    "activities-title activities-title activities-title activities-title"
    "vieuxport pomegues calanques garde"    
    "vieuxport frioul calanques longchamp";
}

#activities figcaption {
  height: 60px;
  font-weight: bold;
  padding: 15px;
}

#activities figure {
  height: 100%;
}

#activities img {  
  border-radius: 20px 20px 0 0;  
  height: calc (100% - 60px);
  object-fit: cover;
}

.activities-title {
  grid-area: activities-title;
}

.vieuxport {
  grid-area: vieuxport;
}

.pomegues {
  grid-area: pomegues;
}

.frioul {
  grid-area: frioul;
}

.calanques {
  grid-area: calanques;
}

.garde {
  grid-area: garde;
}

.longchamp {
  grid-area: longchamp;
}

.activity-card {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 20px;  
  box-shadow: 2px 2px 3px rgba(202, 191, 191, 0.589);
}

/******* footer *******/

footer {
  display: flex;
  background-color: #f2f2f2;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 35px;
  padding-right: 0;
}

footer a {
  text-decoration: none;
  color: black;
  margin: 5px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.title_links {
  font-weight: bold;
}