body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "header header"
        "top-search top-search"
        "accommodation popular"
        "activities activities"
        "footer footer";
}

.header {
    padding: 30px 30px 0 30px;
    grid-area: header;
}

.top-search {
    margin: 0 30px;
    grid-area: top-search;
}

.accommodation {
    margin-left: 30px;
    grid-area: accommodation;
}

.popular {
    margin-right: 30px;
    grid-area: popular;
}

.activities {
    margin: 30px;
    grid-area: activities;
}

.footer {
    grid-area: footer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

li {
    list-style: none;
    margin-right: 30px;
}

.menu-button {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-accommodation {
    color: #0065fc;
}

.menu-activities {
    color: black;
}

.menu li {
    padding: 30px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    color: black;
}

.menu li:hover {
    border-top: 3px solid#0065FC;
}

/*
ul li a:hover {
    color: #0065fc;
} */

/*bouton s'inscrire*/
.register {
    text-decoration: none;
    color: #0065fc;
    font-weight: bold;
}

.nature {
    margin-bottom: 1rem;
}

.search-bar {
    margin-bottom: 30px;
}

.text-city,
.research-button {
    height: 40px;
}

i.gps {
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.text-city {
    font-weight: bold;
    border-left: none;
    border-right: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 2rem;
}

.research-button {
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0 10px;
}

i.research-icon {
    display: none;
}

.filter-title {
    display: inline-block;
    padding-right: 30px;
}

.filter-button {
    border: 2px solid #d9d9d9;
    background-color: white;
    border-radius: 2rem;
    font-weight: bold;    
    margin: 0 15px 5px 0;    
}

.filter-button:hover {
    background-color: #0065fc;
    color: white;
    border: 2px solid #0065fc;
    transform: scale(1.01);
    cursor: pointer;
}

.filter-button i {
    color: #0065fc;
    background-color: #deebff;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    line-height: 38px;
    margin: -2px;
}

.filter-span {
    padding: 0 16px;
}

.search-result {
    margin-top: 30px;
}

.fa-info {
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    color: #0065fc;
    margin-right: 10px;
    text-align: center;
}

button span {
    padding: 0 10px;
}
/*
.i-logo {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #d9d9d9;
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
} */

/******** Hébergements ********/

#accommodation {
    border-radius: 20px;
    padding: 30px;
    gap: 30px;
    background-color: #f2f2f2;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 210px 210px auto;
    grid-template-areas:
        "titreacco titreacco titreacco"
        "cannebiere port mouettes"
        "mer panier amina"
        "afficherplus afficherplus afficherplus";
}

#accommodation figure {
    height: 100%;
    padding: 5px;
}

#accommodation figcaption { 
    padding: 6px 14px;
    height: 90px;   /* revoir height */ 
}

#accommodation img {
    border-radius: 20px 20px 0 0;
    height: calc(100% - 90px); /* revoir height */
    object-fit: cover;
}

.displaymore {
    color: black;
}

.acco-title {
    grid-area: titreacco;
}

.cannebiere {
    grid-area: cannebiere;
}

.port {
    grid-area: port;
}

.mouettes {
    grid-area: mouettes;
}

.mer {
    grid-area: mer;
}

.panier {
    grid-area: panier;
}

.amina {
    grid-area: amina;
}

.displaymore {
    grid-area: afficherplus;
}

/******** Populaires ********/
#popular {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 30px;
    gap: 30px;

    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 150px 150px 150px;
    grid-template-areas:
        "popular-title"
        "soleil"
        "eau"
        "bleu";
}

.fa-chart-line {
    font-size: 1.5em;
}

#popular figure {
    height: 100%;
}

#popular img {
    height: 100%;
    width: 40%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

#popular figcaption {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular-title {
    grid-area: popular-title;
    display: flex;
    justify-content: space-between;
}

.popular-photo {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.soleil {
    grid-area: soleil;
}

.eau {
    grid-area: eau;
}

.bleu {
    grid-area: bleu;
}

/******** commun  ********/
.acco-card,
.popular-card {
    background-color: white;
    color: black;
    border-radius: 20px;    
    box-shadow: 2px 2px 3px rgba(202, 191, 191, 0.589);
}

.acco-card:hover,
.popular-card:hover,
.activity-card:hover {
    transform: scale(1.01);
}

#accommodation h3,
#popular h3 {
    font-weight: bold;
    font-size: 18px;
}

#accommodation h2,
#popular h2,
#activities h2 {
    font-size: 1.2rem;
}

#accommodation p,
#popular p {
    font-size: 0.9rem;
}

.fa-star {
    color: #0065fc;
    font-size: 0.8rem;
    letter-spacing: -0.1rem;
}

.grey-star {
    color: #f2f2f2;
}

/******** Activités ********/

#activities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 220px 10px 220px;
    gap: 40px;
    grid-template-areas:
        "activities-title activities-title activities-title activities-title"
        "vieuxport pomegues calanques garde"
        "vieuxport pomegues calanques longchamp"
        "vieuxport frioul calanques longchamp";
}

#activities figcaption {
    height: 60px;
    font-weight: bold;
    padding: 0 15px;
    line-height: 60px;
}

#activities figure {
    height: 100%;
}

#activities img {
    border-radius: 20px 20px 0 0;
    height: calc (100% - 60px);
    object-fit: cover;
}

.activities-title {
    grid-area: activities-title;
}

.vieuxport {
    grid-area: vieuxport;
}

.pomegues {
    grid-area: pomegues;
}

.frioul {
    grid-area: frioul;
}

.calanques {
    grid-area: calanques;
}

.garde {
    grid-area: garde;
}

.longchamp {
    grid-area: longchamp;
}

.activity-card {
    height: 100%;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(202, 191, 191, 0.589);
}

#activities figcaption {
    line-height: 60px;
    font-size: 0.9rem;
    height: 60px;
}

.activity-card img {
    height: calc(100% - 60px);
}

/******* footer *******/

footer {
    display: flex;
    background-color: #f2f2f2;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 35px;
    padding-right: 0;
}

footer a {
    text-decoration: none;
    color: black;
    margin: 5px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.title-links {
    font-weight: bold;
    margin: 10px 5px;
}

/******* Adaptation tablettes*******/

@media screen and (min-width: 600px) and (max-width: 1366px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "top-search"
            "popular"
            "accommodation"
            "activities"
            "footer";
    }

    #popular {
        margin: 10px;
        width: auto;
        height: auto;
        gap: 15px;
    }

    #accommodation {
        margin: 10px;
        width: auto;
        height: auto;
        gap: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 230px 230px 230px auto;
        grid-template-areas:
            "titreacco titreacco"
            "cannebiere port"
            "mouettes mer"
            "panier amina"
            "afficherplus afficherplus";
    }

    #activities {
        margin: 10px;
        width: auto;
        height: auto;
        gap: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto repeat(4, 150px);
        grid-template-areas:
            "activities-title activities-title"
            "vieuxport pomegues"
            "vieuxport frioul"
            "calanques garde"
            "calanques longchamp";
    }

    .activity-card {
        height: 100%;
    }

    #activities figcaption {
        line-height: 60px;
        font-size: 0.9rem;
        height: 60px;
    }

    .activity-card img {
        height: calc(100% - 60px);
        object-fit: cover;
    }

    footer h3 {
        font-size: 0.9rem;
    }

    footer a {
        font-size: 0.9rem;
    }
}
/******* Adaptation smartphones *******/

@media screen and (max-device-width: 599px) {
    body {        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "top-search"
            "popular"
            "accommodation"
            "activities"
            "footer";
    }

    header {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
    }

    .logo {
        min-width: 90px;        
    }

    .register {
        position: absolute;
        top: 44px;
        
    }

    .menu-button {
        display: flex;               
        flex-wrap: wrap-reverse;
        justify-content: flex-end;         
    }

    .menu li {
        border-top: 1px solid transparent;
        width: 50%;
        margin: 0;
        padding: 30px;        
        /* text-align: center; */
    }

    .menu :nth-child(1) {
        border-bottom: 2px solid #0065fc;
    }

    .menu :nth-child(2) {
        border-bottom: 2px solid #f2f2f2;
    }

    .menu li:hover {
        border-top: none;
        border-bottom: 2px solid #0065fc;
    }

    .menu .accommodation {
        border-top: none;
        padding: 1rem;
    }

    .top-search {
        margin: 10px;
        padding: 10px;
    }

    h1 {
        /* ne fonctionne pas */
        font-size: 16px;
    }

    .nature {
        font-size: 0.9rem;
    }

    .text-city,
    .research-button
    {
        height: 34px;
    }

    .text-city {
        padding-left: 10px;
    }

    .research-text {
        display: none;
    }

    i.research-icon {
        display: block;
    }

    .research-button {
        border-radius: 30%;
        width: 34px;
    }

    .filter-title {
        display: block;
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .filter-button {
        height: 32px;
        line-height: 30px;
    }

    .filter-button i {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .filter-span {
        padding: 12px;
        font-size: 0.9rem;
    }

    .search-result {
        font-size: 0.9rem;
    }

    #popular {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 0;
    }

    .popular-card {
        height: 130px;
    }

    #popular h3,
    #accommodation h3 {
        font-size: 1rem;
    }

    #accommodation {        
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        background-color: white;
        gap: 10px   ;
    }

    #accommodation figcaption {
        height: 70px;
    }

    #accommodation img {
        height: calc(100% - 70px);
    }

    .displaymore {
        padding-top: 10px;
    }

    .acco-card,
    .activity-card {
        height: 180px;
    }

    #activities {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 10px;
        padding: 10px;
    }

    #activities figcaption {
        height: 50px;
        line-height: 50px;
    }

    #activities img {
        height: calc(100% - 50px);
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 0;
    }

    .title-links {
        font-size: 0.9rem;
    }

    .footer-links {
        width: 100%;
        font-size: 0.9rem;
    }
}
